body{
    font-family: "Roboto Thin";
}

.heading {
    text-decoration: underline;
    text-align: center;
    background-color: aqua;
}

.container{
    display: flex;
    flex-direction: row;
    background-color: darkkhaki;
    height: 100%;
}

/*.device_list{*/
/*    width: 25%;*/
/*    background-color: red;*/
/*}*/

/*.spacer{*/
/*    width: 5%;*/
/*    background-color: green;*/
/*}*/

/*.smart_meter{*/
/*    width: 70%;*/
/*    background-color: coral;*/
/*}*/

.display {
    width: 80%;
    height: 80%;
    margin: 5%;
    border-style: solid;
    border-color: black;
}