body {
    font-family: "Roboto Thin";
}

.heading {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 5%;
    /*background-color: aqua;*/
}

.inputs {
    display: flex;
    width: 10%;
    border-left: 1px solid black;
    margin-top: 10%;
}

.containerRows {
    display: flex;
    flex-direction: row;
    /*height: 90%;*/
}

.device_list_title {
    text-decoration: underline;
}

.device_list {
    display: flex;
    height: 50%;
    width: 15%;
    margin-left: 5%;
    text-align: left;
}

.add_device {
    margin-left: 15%;
}

.smart_meter {
    width: 65%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.smart_meter_info {
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.chart {
    width: 70%;
    height: 50%;
    margin-left: 25%;
}

.chart_title {
    text-decoration: underline;
    text-align: center;
}