body {
    font-family: "Roboto Thin";
}

.heading {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 5%;
    /*background-color: aqua;*/
}

.inputs {
    display: flex;
    flex-direction: row;
    background-color: green;
    height: 10%;
}

.containerRows {
    display: flex;
    flex-direction: row;
    background-color: darkkhaki;
    height: 90%;
}

.device_list {
    width: 25%;
    /*background-color: red;*/
    margin-left: 5%;
    text-align: left;
}

.device_list_title {
    text-decoration: underline;
}

.smart_meter {
    width: 65%;
    margin-right: 5%;
    margin-left: 5%;
    /*background-color: coral;*/
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.smart_meter_info {
    margin-left: 5%;
}
