<!DOCTYPE html>
<head>
   <title>Current Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<div class="heading">
    <h1 >IoT Smart Meter and Lighting Control</h1>
</div>

<body>
    <div class="container">
        <div class="device_list">
           <h3 class="device_list_title">Device Listing and Status</h3>

           {% for pin in pins %}
           <p>{{ pins[pin].name }} :
           {% if pins[pin].state == true %}
              (<a href="/{{pin}}">turn off</a>)
           {% else %}
              (<a href="/{{pin}}">turn on</a>)
           {% endif %}
           </p>
           {% endfor %}


{#           {% if message %}#}
{#           <h2>{{ message }}</h2>#}
{#           {% endif %}#}
        </div>

        <div class="smart_meter">
            <div class="smart_meter_info">
                <p> Devices currently in use:
                    {% msg = "" %}
                    {% for pin in pins %}
                    {% if pins[pin].state == true %}
                    {{% msg = pins[pin].name %}}
                    {% endif %}
                    {% endfor %}

                    {% if pins|length == 0 %}
                        {{% msg = No devices currently in use. %}}
                    {% endif %}
                    {{ msg }}
                </p>

                <p> Used today:

                </p>
            </div>
        </div>
    </div>
</body>



</html>